$primary: #1A91DA;
$secondary: rgb(25, 39, 52);
$gray:rgb(56, 68, 77);
$disabled:rgb(136, 153, 166);
$dark: #15202B;
$light:#202E3A;
$white: #FFFFFF;

$small: "only screen and (max-width: 640px)";
$medium: "only screen and (max-width: 1024px)";
$large: "only screen and (max-width: 1280px)";

$height: 1.3125;
$paraph:15px;
$subtitle: 24px;