@import './Sass/utilities.scss';

body {
  background-color:$dark;
  color:$white;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  p {
    font-size:$paraph;
    line-height: $height;
  }
  a {
    font-size: $subtitle;
    font-weight:700;
    text-decoration: none;
    color:$white;
  }
  ul {
    list-style-type: none;
  }
  .horizontal-navbar {
    display:flex;
    align-items: center;
    position:fixed;
    background-color:$dark;
    border-bottom: 1px solid $gray;
    z-index:0;
    top:0;
    width: 60%;
    height: 3em;
    text-align: center;
  }
  .app {
    display:flex;
    z-index: 2;
    .navbar {
      display:flex;
      flex-direction: column;
      align-items:center;
      vertical-align: center;
      background-color:$dark;
      position: fixed;
      border-right: 1px solid $gray;
      z-index: 3;
      left: 0;
      height:100%;
      width: 30%;
      .navigation {
        text-align: center;
        padding:0;
        overflow-wrap: break-word;
      }
      .logo {
        margin-top:3em;
      }
      li {
        padding-bottom: 7px;
        padding-top: 7px;
        a {
          &:hover {
            background-color:darken($primary, 30%);
            padding-right: 30px;
            padding-left: 30px;
            padding-top: 5px;
            padding-bottom: 5px;
            border-radius: 9999px;
            color:$primary;
          }
          &:focus {
            color:$primary;
          }
        }
      }
    }
    main {
      min-height: 100vh;
      border-right: 1px solid $gray;
      padding-top:3em;
      margin-left:30%;
      display:flex;
      width: 60%;
    }
    .post {
      .post-margin {
        padding-top: 10px;
        flex-basis: 0px;
        flex-grow: 1;
      }
      padding:0 1em;
      border-bottom: 1px solid $gray;
      &:hover {
        cursor: pointer;
        background-color:lighten($dark, 5%)
      }
      .iconLike:hover {
        fill:	#FF0000;
      }
    }
    .alias {
      color:$disabled;
      height:$height;
      font-size: 19px;
      font-weight: 400;
    }

  }
}
.home {
  margin-left: 1em;
}
.break {
  border-bottom: 1px solid $gray;
  border-top: 1px solid $gray;
  height: 10px;
  width: 100%;
  background-color: $secondary;
}

.formPost {
  margin-top:10px;
  display:flex;
  flex-direction: column;
  padding-top:5px;
  padding-bottom:5px;
  textarea {
    padding-top:5px;
    padding-left:10px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 22px;
    color:white;
    font-weight: 400;
    border:none;
    background-color:$dark;
    resize:none;
    &:focus {
      outline: none;
    }
  }
  textarea::placeholder {
    padding-top:5px;
    padding-left:5px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 22px;
    color:gray;
  }
  .btn-submit-post {
    margin-top:10px;
  }
}
.rightAside {
  width:10%;
  z-index:3;
  background-color:$dark;
  position: fixed;
  right: 0;
  height:100%;
  border-left: 1px solid $gray;
}

.like-container {
  display: flex;
  img {
    width: 20px;
    object-fit:contain;
    margin-left: 0.5em;
  }
}
.btn {
  font-size: $paraph;
  margin-top:7px;
  min-height: 39px;
  cursor: pointer;
  background-color:$primary;
  border: none;
  border-radius: 9999px;
  color:white;
  font-weight: bold;
  padding-right: 30px;
  padding-left: 30px;
  &:hover {
    transition-duration: 0.2s;
    transition-property:background-color, box-shadow;
    box-shadow: (0 0 0 / 8%) 0px 8px 28px;
    background-color:darken($primary,5%)
  }
}

.post-bot {
  display:flex;
  justify-content:flex-end;
  margin-right: 1em;
  margin-bottom: 0.5em;
.btn-send {
  @extend .btn;
  min-height: 39px;
  padding-right: 1em;
  padding-left: 1em;
  }
}.btn-send {
  @extend .btn;
  min-height: 39px;
  padding-right: 1em;
  padding-left: 1em;
  }
// PROFILE
h2 {
  margin:0;
}
.profile-section {
  min-width:100%;
  .profile-top {
    display: flex;
    flex-direction: column;
    margin-left:2em;
    align-items: start;
  }
  .profile-bot {
    @extend .post-bot;
  }
  .profile-btn {
    @extend .btn;
    background-color:transparent;
    border:1px solid $primary;
    color:$primary;
    margin-left: 2em;
    &:hover {
      color:white;
      background-color:$primary;
    }
  }
}
.section-home {
  min-width:100%;
}
.section-otherprofil {
  @extend .profile-section;
}

.like-bot {
  display:flex;
  flex-direction: row;
  justify-content: space-between;
}

.section-top {
  display:flex;
  align-items: center;
  position:fixed;
  background-color:$dark;
  border-bottom: 1px solid $gray;
  z-index:0;
  top:0;
  width: 60%;
  height: 3em;
  text-align: center;
}
.register-container {
}
.form-register-container {
  margin: 5em 2em;
  form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  input {
    color:white;
    padding-top:5px;
    padding-left:10px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    height: 3em;
    margin-bottom: 2em;
    background-color: $gray;
    border: none;
    border-radius: 20px;
    padding-top:5px;
    padding-left:10px;
    font-size: 22px;
    &:focus {
      outline: none;
    }
  }
  input::placeholder {
    padding-top:5px;
    padding-left:5px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 22px;
    color: white;
  }
}

.profile-edit-form form {
  display: flex;
  flex-direction: row;
  justify-content:space-between;
  input {
    color:white;
    padding-top:5px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    height: 2em;
    margin-bottom: 2em;
    background-color: $gray;
    border: none;
    border-radius: 20px;
    padding-top:5px;
    font-size: 18px;
    &:focus {
      outline: none;
    }
    input::placeholder {
      padding-top:5px;
      padding-left:5px;
      font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
      font-size: 22px;
      color: white;
    }
  }
}
.btn-primary {
  @extend .profile-btn;
}